:root{
    --primary-color: #00B7FF;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

body > h1{
    font-size: 2.3rem;
}

body > h2{
    font-size: 1.7rem;
    font-style: italic;
}

body > h1, body > h2{
    text-align: center;
}

a {
    color: var(--primary-color);
}

main {
    padding: 50px;
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    max-width: 100%;
}

/* HEADER */
header{
    padding: 50px;
    background-color: var(--primary-color);
    text-align: center;
    position: relative;
}

header a {
    color: #fff;
    padding: .5rem;
}

header h1{
    padding: 0;
    margin: 0;
}

/* BUTTON */
.btn{
    background-color: #2183cb;
    padding: .5rem 2rem;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 3px 5px darkgray;
    border: none;
    cursor: pointer;
    transition: .5s background-color;
}

.btn:hover{
    background-color: #25a7ff;
    transition: .5s background-color;
}

/* LOGIN*/
.login-wrapper{
    background-color: #ffffff;
    text-align: center;
    padding: 1rem;
}

.input-field{
    margin: 2rem;
}

.input-field label{
    display: block;
    margin-bottom: .5rem;
}

.input-field input{
    padding: .3rem;
}

/* ADVERTS */
.box-wrapper, .login-wrapper {
    flex: 0 0 95%;
    box-shadow: 0 5px 8px darkgray;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.box-wrapper > div {
    padding: 2rem;
}

.box-wrapper hr {
    border: .7px solid rgba(189, 189, 189, 0.68);
    margin-top: 2rem;
}

.box-wrapper img {
    border-radius: 5px 5px 0 0;
    height: 350px;
    object-fit: cover;
}

.box-wrapper .thumbnail {
    max-width: 50px;
    max-height: 50px;
    margin: 0 1rem;
}

.box-wrapper h3, .box-wrapper h4 {
    text-align: center;
}

.box-wrapper h3 {
    font-size: 1.7rem
}

.box-wrapper h4 {
    font-size: 1.5rem
}

.box-wrapper h5{
    font-size: 1.2rem
}

.box-wrapper ul {
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

.box-wrapper ul > li {
    flex: 0 0 50%;
    text-align: center;
}

.flex-wrapper, .box-wrapper ul {
    display: flex;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .box-wrapper {
        flex: 0 0 48%;
    }

    .login-wrapper{
        flex: 0 0 50%;
    }
}

@media only screen and (min-width: 900px) {
    .login-wrapper{
        flex: 0 0 35%;
    }

    .box-wrapper {
        flex: 0 0 30%;
    }
}

@media only screen and (min-width: 1300px) {
    .login-wrapper{
        flex: 0 0 30%;
    }

    .box-wrapper {
        flex: 0 0 24%;
    }
}